/* Universal Styles */

html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  background-color: rgb(250, 247, 238);
  color: rgb(77, 120, 106);
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 625px;
}

#quiz-container {
  background-color: rgb(217, 231, 219);
  height: 500px;
  width: 450px;
}

#controls {
  height: 450px;
  width: 35%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.answers {
  display: flex;
  flex-direction: column;
  font-size: 1.1rem;
}

.question {
  margin-bottom: 2rem;
  font-size: 1.2rem;
  position: relative;
  width: 300px;
}

.slide {
  position: absolute;
  z-index: 1;
  opacity: 0;
  transition: opacity 0.5s;
  margin: 0 auto;
}

.active-slide {
  opacity: 1;
  z-index: 2;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(22, 80, 64);
  margin-bottom: 4rem;
}

p {
  margin-bottom: 2rem;
}

button {
  z-index: 10;
  width: 100%;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  border-radius: 3%;
}

#submit, #next {
  margin-top: 4px;
}

label:nth-child(2n+1) {
  margin: 1rem 0 1rem 0;
}
