/* Universal styles */

html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  background-color: rgb(250, 247, 238);
  color: rgb(77, 120, 106);
}

/* Header styles */

header {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 2rem 1.5rem 2rem;
}

header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(22, 80, 64);
  justify-content: center;
}

/* Nav styles */

nav {
  font-weight: 200;
  font-size: 1.3rem;
  border-top: 2px solid rgb(112, 146, 134);
}

nav ul {
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(124, 154, 142);
}

/* Jumbo styles */

#jumbo {
  background-color: rgb(217, 231, 219);
  height: 27rem;
  width: 100%;
  display: flex;
}

.left-content {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 3rem;
}

.left-content h3 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(22, 80, 64);
}

.left-content h4 {
  width: 70%;
  color: rgb(77, 120, 106);
  font-weight: 400;
  font-size: 1.4rem;
  margin: 2rem 0 2rem 0;
}

.left-content button {
  background-color: black;
  color: white;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  height: 45px;
  width: 130px;
}

.right-content {
  width: 45%;
}

.right-content img {
  width: 80%;
  height: auto;
  position: relative;
  top: 3rem;
}

/* First gallery styles */

#product-gallery {
  margin: 12rem 2rem 0 2rem;
  display: flex;

}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#product-gallery img {
  width: 70%;
  height: auto;
  margin-top: 4rem;
}

#product-gallery img:nth-child(2n+1) {
  margin-bottom: 4rem;
}

#product-gallery figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-content p:first-of-type {
  font-size: 1rem;
  padding: 1rem 0 1rem 0;
}

.text-content p:last-of-type {
  text-transform: uppercase;
  color: rgb(203, 15, 31);
  font-size: 1rem;
  border-bottom: 1px solid rgb(22, 80, 64);
  padding-bottom: 0.8rem;
}

.text-content h6 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(22, 80, 64);
}
