/* Universal styles */

html {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  background-color: rgb(250, 247, 238);
  color: rgb(77, 120, 106);
}

/* Header styles */

header {
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 2rem 1.5rem 2rem;
}

header h1 {
  font-size: 2.5rem;
  font-weight: bold;
  color: rgb(22, 80, 64);
  justify-content: center;
}

/* Nav styles */

nav {
  font-weight: 200;
  font-size: 1.3rem;
  border-top: 2px solid rgb(112, 146, 134);
}

nav ul {
  height: 5rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgb(124, 154, 142);
}

nav a:link {
  text-decoration: none;
  color: rgb(124, 154, 142);
}

nav a:visited {
  color: rgb(124, 154, 142);
}
/* Jumbo styles */

#jumbo {
  background-color: rgb(217, 231, 219);
  height: 27rem;
  width: 100%;
  display: flex;
}

.left-content {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: 3rem;
}

.left-content h3 {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(22, 80, 64);
}

.left-content h4 {
  width: 70%;
  color: rgb(77, 120, 106);
  font-weight: 400;
  font-size: 1.4rem;
  margin: 2rem 0 2rem 0;
}

.left-content button {
  background-color: black;
  color: white;
  border: none;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.2rem;
  font-weight: 200;
  height: 45px;
  width: 130px;
}

.left-content button:hover {
  background-color: white;
  color: black;
}

.right-content {
  width: 45%;
}

.right-content img {
  width: 80%;
  height: auto;
  position: relative;
  top: 3rem;
}

/* First gallery styles */

#product-gallery {
  margin: 12rem 2rem 0 2rem;
  display: flex;
}

.text-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#product-gallery img {
  width: 70%;
  height: auto;
  margin-top: 4rem;
}

#product-gallery img:nth-child(2n+1) {
  margin-bottom: 4rem;
}

#product-gallery figure {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-content p:first-of-type {
  font-size: 1rem;
  padding: 1rem 0 1rem 0;
}

.text-content p:last-of-type {
  text-transform: uppercase;
  color: rgb(203, 15, 31);
  font-size: 1rem;
  border-bottom: 1px solid rgb(22, 80, 64);
  padding-bottom: 0.8rem;
}

.text-content h6 {
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  color: rgb(22, 80, 64);
}

/* Key info page break styles */

#key-info {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  background-color: rgb(250, 244, 210);
  margin-top: 3rem;
}

#key-info p:nth-child(2n+1) {
  margin: 0 2rem 2rem 2rem;
}

/* Page break */

#page-break {
  height: 25rem;
  background-image: url("../images/page-break-plants.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* How it works styles */

#how-it-works {
  height: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#how-it-works h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: 500;
}

.how-it-works-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 700px;
  width: 600px;
  background-color: white;
  border-radius: 3%;
  font-weight: 300;
}

.second-step {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.second-step p {
  margin-left: 2rem;
}

.how-it-works-box figure {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

/* Second product gallery styles */

#second-product-gallery {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 5rem 0;
}

#second-product-gallery figure {

}

#second-product-gallery img {
  width: 20%;
  height: auto;
}

#second-product-gallery img:nth-child(2n+1) {
  margin: 0 auto;
}

/* Footer styles */

footer {
  height: 20rem;
  background-color: rgb(23, 81, 65);
}
